#Container {
  background-color: rgb(161, 42, 42);
  height: 50rem;
  margin: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

#Title {
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#Content{
display: grid;
grid-template-columns: 1fr 1fr;
flex:1;
}
